<div nz-typography class="narrow">
  <p>
    My name is Vlad. I've got my software engineering degree in Sofia
    University, Bulgaria. You can find more info about me
    <a href="http://teemofeev.github.io/" target="_blank">here</a>.
  </p>
  <p>
    I was blessed enough to be able to study for free. Unfortunately, I've seen
    a lot of people struggle due to their student loans. It's disgusting.
  </p>
  <p>
    We <b>do not</b> need to blame anyone. It's not about goverement, money, or
    specific people in education industry. Creating this simple webpage I want
    to show that traditional education is not mandatory. Instead of blaming we
    can find alternative ways to get your knowledge.
  </p>
  <p>
    While studying in Sofia University, I did not attend lectures often. I
    discovered that self-education is more effective than sitting in university
    and watching how someone reads a presentation for you. Remember,
    <b>I do not blame anyone</b>. FMI @Sofia is an amazing place with smart and
    cool people, but it's not the same everywhere.
  </p>
  <p>
    I hope these resources will help you realize that having access to the
    Internet you have access to <mark>any knowledge</mark> for free.
  </p>
  <p>
    I believe that self-education is much more effective than our education
    system. Stop thinking that some piece of paper is more important than your
    actual abilities. Everything in the market is based on a simple
    supply-and-demand theory, there's a chance to stop those crazy student
    loans.
  </p>
  <div>
    <p>
      If you are a <b><mark>teacher</mark></b> I beg you to watch this lecture
      by Patrick Winston (<mark>RIP</mark>):
    </p>
    <iframe
      width="100%"
      style="max-width: 560px;"
      height="315"
      src="https://www.youtube.com/embed/Unzc731iCUY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
