<div nz-typography class="narrow">
  <blockquote>
    Education should be free for everyone
  </blockquote>
  <p>
    Right, but let's face the
    <a
      href="https://www.forbes.com/sites/zackfriedman/2020/02/03/student-loan-debt-statistics/#aa11f11281fe"
      target="_blank"
      ><mark>truth</mark></a
    >: nobody in the near future will make education free.
  </p>
  <p>
    I've got my degree in sofia university, for free and I hate seeing people
    suffer due to their student loans. While people are yelling and protesting,
    I would like to provide another approach to the situation. This page
    contains thousands of <mark>links</mark> to
    <b>books, courses, and other resources</b>.
  </p>
  <p>
    I believe these can help you not only to get your knowledge for free, but
    also do it more effectively by leaving old education methods aside. Using
    these resources any person
    <b><mark>can</mark></b> outperform any 'prestigious' university student.
  </p>
</div>

<noscript>
  <div class="noscript-warning">
    <nz-alert
      nzType="info"
      nzMessage="This site might not work propely without JavaScript."
      [nzDescription]="descriptionTemplate"
      nzShowIcon
    >
    </nz-alert>
    <ng-template #descriptionTemplate>
      Please make sure you have the latest browser version, and that JavaScript
      is enabled.
    </ng-template>
  </div>
</noscript>

<nz-divider nzText="Academic Fields" nzOrientation="left"></nz-divider>
<app-list></app-list>
