<section>
  <div class="header">
    <h1 nz-typography>
      🎓 education43
    </h1>
    <span> - a community-driven list of free education resources.</span>
  </div>
  <div class="links">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About the author</a>
    <a routerLink="/contribute">How to contribute</a>
    <a href="http://eepurl.com/g2awd9" target="_blank">Subscribe</a>
  </div>

  <router-outlet></router-outlet>

  <nz-divider nzText="Academic Fields" nzOrientation="left"></nz-divider>
  <app-list></app-list>
</section>

<nz-back-top></nz-back-top>
