<section>
  <div class="header">
    <h1 nz-typography>
      🎓 education43
    </h1>
    <span> - a community-driven list of free education resources.</span>
  </div>
  <div class="links">
    <a routerLink="/">Home</a>
    <a routerLink="/contribute">How to contribute</a>
    <a routerLink="/about">About the author</a>
    <a href="http://eepurl.com/g5fZvP" target="_blank">Subscribe</a>
    <a href="https://twitter.com/teemofeev" target="_blank">Twitter</a>
  </div>

  <router-outlet></router-outlet>
</section>

<nz-back-top></nz-back-top>
