<div class="tags">
  <a *ngFor="let tag of tags" [href]="'#' + tag.title">
    <nz-tag [nzColor]="tag.color">{{ tag.title }}</nz-tag>
  </a>
</div>

<div class="list">
  <div
    class="list-item"
    nz-typography
    *ngFor="let tag of tags"
    [id]="tag.title"
  >
    <h2
      nz-typography
      nzCopyable
      [nzCopyText]="domainUrl + '/#' + tag.title"
      class="title"
    >
      <!-- <span class="color-indicator" [style.background]="tag.color"></span> -->
      {{ tag.title }}
    </h2>
    <nz-divider></nz-divider>
    <a
      [style.color]="tag.color"
      target="_blank"
      [href]="
        'https://github.com/timadevelop/education43/blob/master/src/resources/content/' +
        tag.title +
        '.md'
      "
    >
      <i
        nz-icon
        nzType="edit"
        nzTheme="twotone"
        [nzTwotoneColor]="tag.color"
      ></i>
      contribute to this field
    </a>
    <markdown
      class="markdown-container"
      [src]="'./resources/content/' + tag.title + '.md'"
    ></markdown>
  </div>
</div>
